.navbar{
    background: black;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
}

.routerLinks{
    min-width: 30%;
    min-height: 50px;
}
.routerLinks a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 2px 5px;
    padding: 8px;
}











